@model BE2.Models.ViewModel.ProductSearchVM


@{
    ViewBag.Title = "Search Product";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search</title>
    <style>
        .search-container, .order.search-container {
            padding-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm("Index", "Products", FormMethod.Get))
            {
                <div class="form-group search-container">
                    @Html.TextBoxFor(m => m.SearchTerm, new
               {
                   @class = "form-control",
                   placeholder = "Nhập tên, mô tả hoặc chủng loại sản phẩm"
               })
                    @Html.TextBoxFor(m => m.MinPrice, new 
               {
                   @class = "form-control",
                   placeholder = "Nhập giá tối thiểu:",
                   type = "number"
               })
                    @Html.TextBoxFor(m => m.MaxPrice, new
               {
                   @class = "form-control",
                   placeholder = "Nhập tên, mô tả hoặc chủng loại sản phẩm",
                   type = "number"
               })

                    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                </div>

                <div class="form-group order-container">
                    Sắp xếp theo:
                    @Html.ActionLink("A-Z", "Index", new { sortOrder = "name_asc", searchTerm = Model.SearchTerm }) |
                    @Html.ActionLink("Z-A", "Index", new { sortOrder = "name_desc", searchTerm = Model.SearchTerm }) |
                    @Html.ActionLink("Giá tăng dần", "Index", new { sortOrder = "price_asc", searchTerm = Model.SearchTerm }) |
                    @Html.ActionLink("Giá giảm dần", "Index", new { sortOrder = "price_desc", searchTerm = Model.SearchTerm })
                </div>
            }

    @Html.Partial("PVListProduct")
</body>
</html>
