@model IEnumerable<BE2.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<head>
    <style>
        img{
            height:100px;
            max-width:100px;
        }
    </style>
</head>

<h2 class="bg-success">Danh sách sản phẩm</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table bg-info col-lg-12 col-md-6 col-sm-3">
    <tr>
        <th class="bg-success col-md-2">
            Tên sản phẩm
        </th>
        <th class="bg-success col-md-2">
            Hình ảnh
        </th>
        <th class="bg-success col-md-2">
            Đơn giá
        </th>
        <th class="bg-success col-md-2">
            Danh mục
        </th>
        </th>
        <th class="bg-success col-md-2">
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
               <img src="@Html.DisplayFor(modelItem => item.ProductImage)" /> 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.ProductID }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Chi tiết", "Details", new { id = item.ProductID }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Xoá", "Delete", new { id = item.ProductID }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }

</table>
