@model BE2.Product

<div class="container-fluid">
    <div class="dl-horizontal">
        <div class="col-md-3">
            <img src="@Html.DisplayFor(model => model.ProductImage)" />
        </div>
        <div class="col-md-9">
            <dl>
                <dt> Tên sản phẩm </dt>
                <dd> @Html.DisplayFor(model => model.ProductName) </dd>

                <dt> Mô tả </dt>
                <dd> @Html.DisplayFor(model => model.ProductDecription) </dd>

                <dt> Đơn giá </dt>
                <dd> @Html.DisplayFor(model => model.ProductPrice) </dd>

                <dt> Hình ảnh </dt>
                <dd> @Html.DisplayFor(model => model.ProductImage) </dd>

                <dt> Danh mục </dt>
                <dd> @Html.DisplayFor(model => model.Category.CategoryName) </dd>

                <dt style="padding:10px"></dt>
            </dl>
        </div>
    </div>
</div>